.todo_container {
  .card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .card-footer {
      font-weight: lighter;
      font-style: italic;
      font-size: 12px;
      text-align: right;
    }
  }
}

.completed {
  text-decoration: line-through;
}