.stat_box {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20%;
  font-size: 12px;
  font-weight:bold;
  background-color: lightgray;
  align-self: flex-end;
  p{
    color: green;
  }
}